@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.bg-light {
    background-color: #f9f9f9!important;
}

.bg-light2 {
    background-color: #c4170c!important;
}

body {
    background-color: #f9f9f9;
}

.navbar-brand{
    text-align: center!important;
}

.bg-secondary{
    background-color: #c4170c!important;
}